/*INDEX STYLES START HERE*/

#logoDiv
{
	background-color: #ece5f5;
}

#logo
{
	width: 150px;
}

#navDiv
{
	background-color: #52527c;
	height: 50px;
}

#mainNav
{
	text-align: center;
	margin-top: 10px;
}

#mainNav ul li
{
	display: inline;
	margin-right: 20px;
	margin-left: 20px;
}

#mainNav ul li a
{
	color: white;
	font-family: 'playfair_displayregular';
	font-size: 20px;
}

#footerDiv
{
	background-color: #cfcfe9;
}

#footerlogo
{
	width: 50px;
}

#footNav ul
{
	background-color: #cfcfe9;
	float: right;
	margin-top: 10px;
}

#footNav ul li
{
	display: inline;
	background-color: #cfcfe9;
	margin-left: 30px;
}

#footNav ul li a
{
	color: #52527c;
	font-family: 'playfair_displayregular';
	font-size: 15px;
}

/*INDEX MEDIA QUERIES HERE*/

@media (min-width: 750px){
	#logo
	{
		width: 250px;
	}

	#navDiv
	{
		height: 50px;
	}

	#mainNav
	{
		text-align: center;
		margin-top: 10px;
	}

	#mainNav ul li
	{
		display: inline;
		margin-right: 75px;
		margin-left: 75px;
	}

	#mainNav ul li a
	{
		color: white;
		font-family: 'playfair_displayregular';
		font-size: 20px;
	}

	#footerDiv
	{
		background-color: #cfcfe9;
	}

	#footerlogo
	{
		width: 50px;
	}

	#footNav ul
	{
		background-color: #cfcfe9;
		margin-top: 15px;
	}

	#footNav ul li
	{
		display: inline;
		background-color: #cfcfe9;
		margin-left: 75px;
	}

	#footNav ul li a
	{
		color: #52527c;
		font-family: 'playfair_displayregular';
		font-size: 15px;
	}

}

/*FONTS CSS STARTS HERE*/

@font-face {
    font-family: 'fonts/abril_fatfaceregular';
    src: url('../fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('../fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('../fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display_scbold';
    src: url('../fonts/playfairdisplaysc-bold-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_display_scregular';
    src: url('../fonts/playfairdisplaysc-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplaysc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.woff2') format('woff2'),
         url('lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

